body{
    background: #C5968C;
    font-family: 'Gideon Roman', cursive;
}

h1{
    color: #581845 ;
}

button{

    padding:50 px;
    background-color: #958582;
    border-radius:5px ;
    width: 220px;;
    height: 220px;
    color:#581845;
    display:inline-block;
    cursor: pointer;
    text-align: center;
    
}
header{
    padding: 2rem 1rem;
    max-width:10px;
    width: 50%
    
}

.edit{
    height:20px ;
    width:40px;
    text-align: center;
}
.delete{
    height:20px ;
    width:55px;
    text-align: center;
}
#push{
    height:25px;
    width: 70px;
    text-align:center;
    font-size: 10px;
}

.menu-bar{
    background:#D3533A ;
    text-align: center;
}

.parta{
    text-align: center;
}
.partb{
    text-align: center;
}

#allBtn{
    display:none;
}

#workBtn{
    display:none;
}

#studyBtn{
    display:none;
}
#homeBtn{
    display:none;
}
.active ul li:hover .submenu1{
    display: block;
    position: absolute;
}
.submenu2{
    display:none;
}
