body{
    background: #C5968C;
    font-family: 'Gideon Roman', cursive;
}

h1{
    color: #581845 ;
}

button{

    padding:50 px;
    background-color: #958582;
    border-radius:5px ;
    width:150px;
    height: 150px;
    color:#581845;
    display:inline-block;
    cursor: pointer;
  
}
#push{
    height:30px;
    width: 30px;
    text-align:center;
    font-size: 10px;
}

.menu-bar{
    background:#D3533A ;
    text-align: center;
}


#allBtn{
    display:none;
}

#workBtn{
    display:none;
}

#studyBtn{
    display:none;
}
#homeBtn{
    display:none;
}
.active ul li:hover .submenu1{
    display: block;
    position: absolute;
}
.submenu2{
    display:none;
}
